#r_google_map {
  height: 400px;
  width: 100%;
}

// .contentMap{
//   padding-left: 10%;
//   padding-right: 10%;
// }

.myCRUDMAPBackground{
  background-color: darkgray;
}

.myMAPSearchBOX {
  margin: 0;
  padding: 0;
  height: 100%;
}
