<!--Navabr-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <i class="fa fa-map-marker text-white fs-2 p-2" aria-hidden="true"></i><a class="navbar-brand ml-1"
      href="/home">&nbsp;GOOGLE MAP Training</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    </div>
    <ul class="navbar-nav mr-auto float-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive="router-link-active"
          id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Bharat
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Add Map Marker</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Show markers from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Show infowindow (costume).</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Create a marker cluster.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Show info window for cluster.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Save location in db from map.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Show polygon from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Show infowindow on polygon.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Use all map, marker, polygon
              events.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Show Polyline from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">show polyline infowindow.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Save polygon using shape tools.</a>
          </li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">show/hide markers as layer on checkbox
              event.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/bharat/add-map-marker']">Create routes for multiple
              locations.</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive="router-link-active"
          id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Shireen
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Add Map Marker</a></li>
          <li><a class="dropdown-item">Show markers from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Add Map Marker</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Show markers from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Show infowindow (costume).</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Create a marker cluster.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Show info window for cluster.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Save location in db from map.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Show polygon from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Show infowindow on polygon.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Use all map, marker, polygon
              events.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Show Polyline from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">show polyline infowindow.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Save polygon using shape tools.</a>
          </li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">show/hide markers as layer on checkbox
              event.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/shireen/add-map-marker']">Create routes for multiple
              locations.</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive="router-link-active"
          id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Rajat
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Add Map Marker</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Show markers from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Show infowindow (costume).</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Create a marker cluster.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Show info window for cluster.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Save location in db from map.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Show polygon from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Show infowindow on polygon.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Use all map, marker, polygon
              events.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Show Polyline from db.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">show polyline infowindow.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Save polygon using shape tools.</a>
          </li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">show/hide markers as layer on checkbox
              event.</a></li>
          <li><a class="dropdown-item" [routerLink]="['/rajat/add-map-marker']">Create routes for multiple
              locations.</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="color: rgb(255, 255, 255)"> Loading... </p>
</ngx-spinner>
<router-outlet></router-outlet>
