<div class="app-body">
  <main class="main d-flex align-items-center min-h">
    <div class="container mt-5 p-2">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card position-relative">
            <div class="card-body p-4">
              <div class="d-flex custom-border">
                <span class="secondary-bg"></span>
                <span class="primary-bg"></span>
                <span class="secondary-bg"></span>
                <span class="primary-bg"></span>
              </div>
              <h1 class="text-center">Register</h1>
              <p class="text-muted text-center">Create your account</p>
              <form [formGroup]="signupForm" (ngSubmit)="onsubmit()" novalidate>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="fa fa-user"></i>
                    </span>
                    <input class="form-control" characterOnly name="firstName" type="text" placeholder="First name"
                      autocomplete="off" formControlName="firstname">
                  </div>
                  <p class="alert alert-danger mt-1"
                    *ngIf="formError.firstname.invalid && (formError.firstname.dirty || formError.firstname.touched)">
                    <span *ngIf="formError.firstname.errors.required">First Name is Required.</span>
                    <span *ngIf="formError.firstname.errors.minlength">Minlength is 3.</span>
                    <span *ngIf="formError.firstname.errors.pattern">First Name is not Valid. Please use without
                      space</span>
                  </p>
               </div>
                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="fa fa-user"></i>
                    </span>
                    <input type="text" characterOnly class="form-control" name="lastname" placeholder="Last name"
                      autocomplete="off" formControlName="lastname">
                  </div>
                  <p class="alert alert-danger mt-1"
                    *ngIf="formError.lastname.invalid && (formError.lastname.dirty || formError.lastname.touched) ">
                    <span *ngIf="formError.lastname.errors.required">Last Name is Required.</span>
                    <span *ngIf="formError.lastname.errors.minlength">Minlenght is 3.</span>
                    <span *ngIf="formError.lastname.errors.pattern">Last Name is not Valid. Please use without
                      space</span>

                  </p>
                </div>

                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <b>@</b>
                    </span>
                    <input class="form-control" name="email" type="email" placeholder="Email" autocomplete="off"
                      formControlName="email">
                  </div>
                  <p class="alert alert-danger mt-1"
                    *ngIf="formError.email.invalid && (formError.email.dirty || formError.email.touched) ">
                    <span *ngIf="formError.email.errors.required">Email Required.</span>
                    <span *ngIf="formError.email.errors.pattern">Enter valid email.</span>

                  </p>
                </div>

                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="fa fa-phone"></i>
                    </span>
                    <input type="text" numbersOnly class="form-control" maxlength="10" name="phoneNumber"
                      placeholder="Contact number" autocomplete="off" formControlName="phonenumber">
                  </div>
                  <p class="alert alert-danger mt-1"
                    *ngIf="formError.phonenumber.invalid && (formError.phonenumber.dirty || formError.phonenumber.touched) ">
                    <span *ngIf="formError.phonenumber.errors.required">phonenumber Required.</span>
                    <span *ngIf="formError.phonenumber.errors.pattern">Should of 10 digit.</span>

                  </p>
                </div>

                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="password" placeholder="password" maxlength="10"
                      formControlName="password">
                  </div>
                  <p class="alert alert-danger mt-1"
                    *ngIf="formError.password.invalid && (formError.password.dirty || formError.password.touched)">
                    <span *ngIf="formError.password.errors.required">Password is Required.</span>
                    <span *ngIf="formError.password.errors.pattern">Strong Password is Required ,Use min 8 characters,1 lowercase letter,1 uppercase letter,1 number ,1
                      special
                      character.</span>
                  </p>
                </div>

                <div class="mb-3">
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" name="confirmpassword" placeholder="Repeat password"
                      formControlName="confirmpassword">
                  </div>
                  <p class="alert alert-danger mt-1"
                    *ngIf="formError.confirmpassword.invalid && (formError.confirmpassword.dirty || formError.confirmpassword.touched) && formError.confirmpassword.errors.required">
                    <span *ngIf="formError.confirmpassword.errors.required">Confirm Password is Required.</span>
                  </p>
                  <p class="alert alert-danger mt-1"
                   *ngIf="signupForm.get('password').value && signupForm.get('confirmpassword').value && signupForm.get('password').value !== signupForm.get('confirmpassword').value">
                   <span> Confirm password does not match with the password.</span>
                 </p>

                </div>

                <div class="row mb-3">
                  <div class="col-form-label col-sm-3 pt-0">Gender <span>*</span>:</div>
                  <div class="col-sm-9">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input " type="radio" name="gender" id="genderMale" value="male"
                        formControlName="gender">
                      <label class="form-check-label" for="genderMale">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" formControlName="gender"id="genderFemale" value="female">
                      <label class="form-check-label" for="genderFemale" >Female</label>
                    </div>
                  </div>
                </div>

                <div class="d-grid">
                  <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Signup</button>
                </div>
              </form>

              <div class="text-center mt-20 ">
                <a href="/login">Already have an
                  account!</a>
              </div>
            </div>
          </div>

          <pre [innerHtml]="this.signupForm.value | json"></pre><br><br>
        </div>
      </div>
    </div>
  </main>
</div>
<br><br>

