<div class="p-5 main-body container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 g-4">
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/foot-ball.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-FOOTBALL</h5>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Price - 1800</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/WalloBall.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-VOLLEYBALL</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price - 1500</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/cricket-ball.jpg" class="card-img-top product-img"height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-CRICKET-BALL</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price - 1200</li>
          </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/golf-ball.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-GOLF-BALL</h5>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item">Price - 7000</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/foot-ball.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-FOOTBALL</h5>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Price - 1800</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/WalloBall.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-VOLLEYBALL</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price - 1500</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/cricket-ball.jpg" class="card-img-top product-img"height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-CRICKET-BALL</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price - 1200</li>
          </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/foot-ball.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-FOOTBALL</h5>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Price - 1800</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/foot-ball.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-FOOTBALL</h5>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Price - 1800</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/WalloBall.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-VOLLEYBALL</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price - 1500</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/cricket-ball.jpg" class="card-img-top product-img"height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-CRICKET-BALL</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price - 1200</li>
          </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
    <div class="col pb-3">
      <div class="card h-100" >
        <img src="../assets/images/golf-ball.jpg" class="card-img-top product-img" height="200px">
        <div class="card-body">
          <h5 class="card-title">THE-GOLF-BALL</h5>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item">Price - 7000</li>
        </ul>
        <div class="card-footer">
          <a href="#" class="card-link">Add to Cart</a>
          <a href="#" class="card-link">Add to wish List</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

