.brand-logo{
  position: relative;
  height: 5%;
  width: 5%;
}

.product-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  200px;
  height: 200px;
  object-fit: cover;
}

// .main-body{
//   background-color: gray;
// }
