<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container mt-5 p-2">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card p-4 mb-0 login-section position-relative">
              <div class="d-flex custom-border">
                <span class="secondary-bg"></span>
                <span class="primary-bg"></span>
                <span class="secondary-bg"></span>
                <span class="primary-bg"></span>
              </div>
              <div class="card-body">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                  <input type="email" class="form-control" placeholder="Email" required id="email" name="email"
                  autocomplete="off" [(ngModel)]="login.email">
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </span>
                  <input type="password" class="form-control" placeholder="Password" required id="password"
                    name="password" [(ngModel)]="login.password">
                </div>
                <div class="form-group mb-4">
                  <a href=" #" class="float-left text-primary clr-primary">
                    <input class="form-check-input" type="checkbox" id="remember" [(ngModel)]="login.remember"
                      name="remember" value="1" >
                    <label class="form-check-label" for="remember">&nbsp; Remember Me</label>
                  </a>
                </div>
                <div class="row text-center">
                  <div class="col-12">
                    <button class="nav-item btn btn-primary">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pre [innerHtml]="login | json"> </pre>
        </div>

      </div>
    </div>
  </main>
</div>
